@import "colors.css";
/* @import "/home/shorin/.cache/wal/colors-waybar.css"; */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 20px;

}

window#waybar {
    background: transparent;
    color: @on_background;
}

/*中间第一级*/
#custom-applauncher {
    font-size: 30px;
    padding: 0px 10px;
    background-color: @primary;
    color: @on_primary;

}

#custom-left_div.1,
#custom-right_div.1 {
    padding: 0;
    margin: 0;
    background-color: @surface_container;
    color: @primary;
    font-size: 30px;
}

#custom-left_inv.1,
#custom-right_inv.1 {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    background-color: @surface_container;
    color: @secondary;
}

/* 中间左边第二级 */
#power-profiles-daemon,
#custom-colorpicker,
#idle_inhibitor {
    padding: 0 7;
}

#power-profiles-daemon {
    background-color: @secondary;
    color: @on_secondary;
}

#power-profiles-daemon {
    background-color: @secondary;
    color: @n_secondary;
    font-size: 30;

}

#power-profiles-daemon.performance {
    color: @on_error;
    font-size: 30;
}

#power-profiles-daemon.balanced {
    color: @on_secondary;
}

#power-profiles-daemon.power-saver {
    color: #1aa052;
}

#custom-colorpicker {
    background-color: @secondary;
    color: @on_secondary;
    font-size: 30;
}

#idle_inhibitor {
    background-color: @secondary;
    color: @on_secondary;
    font-size: 30;
}

/*中间右边第二级*/

#custom-clocklogo {
    background-color: @secondary;
    color: @on_secondary;
    font-size: 28;
    padding: 0 7;
}

#clock {
    background-color: @secondary;
    color: @on_secondary;
    padding: 0;
}

#custom-right_div.2,
#custom-left_div.2 {
    background-color: @tertiary;
    color: @secondary;
    padding: 0;
}


/* 中间右边第三级 */
#custom-datelogo {
    background-color: @tertiary;
    color: @on_tertiary;
    padding: 0px 10px;
    font-size: 26;
}


#clock.date {
    background-color: @tertiary;
    color: @on_tertiary;
    padding: 0;
}

#custom-right_div.3 {
    background-color: @surface_container_high;
    color: @tertiary;
    padding: 0;
    font-size: 30;
}

/* 中间左侧第三级别 */

#bluetooth {
    background-color: @tertiary;
    color: @on_tertiary;
    padding: 0px 5px;
    font-size: 22;
}

#network {
    background-color: @tertiary;
    color: @on_tertiary;
    padding: 0px 7px;
    font-size: 30;
}

#custom-settings {
    background-color: @tertiary;
    color: @on_tertiary;
    padding: 0 7px;
    font-size: 30;
}

#custom-left_div.3 {
    background-color: @surface_container_high;
    color: @tertiary;
    padding: 0;
    font-size: 30;
}

#group-ddcutil {
    padding: 0 20 0 0;
}

/* 中间右侧第四级 */
#battery {
    background-color: @surface_container_high;
    color: @on_surface;
    padding: 0 10;
    font-size: 18;
}

#battery.critical:not(.charging) {
    background-color: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0 10;
}

#custom-right_div.4 {
    /* background-color: @surface_container_high; */
    color: @surface_container_high;
    padding: 0;
    font-size: 30;
}


/* 中间左边第三级 */
#custom-updates {
    background-color: @surface_container_high;
    color: @on_surface;
    padding: 0 7;
}

#tray {
    background-color: @surface_container_high;
    color: @on_surface;
    padding: 0 10;
    font-size: 30;
}

#custom-left_div.4 {
    /* background-color: @surface_container_high; */
    color: @surface_container_high;
    padding: 0;
    font-size: 30;
}

/* 最右边powermenu */
#custom-wlogout {
    background-color: @primary;
    color: @on_primary;
    padding: 0 20 0 10;
    font-size: 30;
}

#custom-reboot,
#custom-lockscreen,
#custom-logout {
    background-color: @primary;
    color: @on_primary;
    padding: 0 10;
    font-size: 25;
}

#custom-left_div.5 {
    background-color: @secondary;
    color: @primary;
    padding: 0;
    font-size: 30;
}

/* 最右边第二级 */
#custom-notification {
    background-color: @secondary;
    color: @on_secondary;
    padding: 0 10;
    font-size: 30;
}

#custom-left_div.6 {
    background-color: @surface_container_high;
    color: @secondary;
    padding: 0;
    font-size: 30;
}

/* 最右边第三级 */
#custom-cava {
    background-color: @surface_container_high;
    color: @tertiary;
    padding: 0 10;
}

#mpris {
    background-color: @surface_container_high;
    color: @tertiary;

    padding: 0 10 0 0;
    font-size: 30;
}

#custom-left_div.8 {
    background-color: @secondary;
    color: @surface_container_high;
    font-size: 30;
    padding: 0;
}



#pulseaudio {
    background-color: @secondary;
    color: @on_secondary;
    font-size: 30;
    padding: 0 5 0 7;
}

#pulseaudio-slider {
    padding: 0 0 0 15;
    margin: 0;
    background-color: @secondary;
    color: @on_secondary;
    font-size: 20;
}


#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: @surface_bright;
}

#custom-left_div.7 {
    /* background-color: @surface_container_high; */
    color: @secondary;
    font-size: 30;
    padding: 0;
}

#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: @primary;
}

#privacy {
    background-color: @tertiary;
    color: @on_tertiary;
    padding:0 7;
}


/* 工作区 */
#workspaces button {
    padding: 0 10px;
    background: @surface_container_high;
    color: @primary;

}

#workspaces label {
    font-size: 30;
}

#workspaces button:hover {
    background: @surface_bright;
}

#workspaces button.focused:hover {
    background: @surface_bright;
}

#workspaces button.focused {
    background: @surface_container_high;
    color: @primary;

}

#custom-right_div.5 {
    background: @surface_bright;
    color: @surface_container_high;
    font-size: 30;
    padding: 0;
}

/* 窗口名 */
#window {
    padding: 0 10;
    background-color: @surface_bright;
    color: @on_surface;
}

#window label {
    font-size: 16;
}

window#waybar.empty #window {
    background-color: @surface_bright;
}

#custom-right_div.6 {
    color: @surface_bright;
    font-size: 30;
    padding: 0;
}

/* 鼠标悬浮信息提示 */
tooltip {
    background: @surface_bright;
    border: 1px solid @outline;

}

tooltip label {
    color: white;
    font-size: 16;
}

#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}

#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: red;
}