/**
 * App Window
 */
@define-color window_bg #ffffff;
@define-color black #000000;
@define-color prefs_background @black;

/**
 * Input
 */
@define-color selected_bg_color #6f8396;
@define-color selected_fg_color @black;
@define-color input_color @black;
@define-color caret_color @black;

/**
 * Result items
 */
@define-color item_name @black;
@define-color item_text @black;
@define-color item_box_selected @black;
@define-color item_text_selected @black;
@define-color item_name_selected @black;
@define-color item_shortcut_color @black;
@define-color item_shortcut_color_sel @black;

.app {
    background-color: @window_bg;
    border: none;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0), 0 2px 6px 1px rgba(0, 0, 0, 0.1), 0 3px 10px 5px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.005);
    margin: -6px;
    border-radius: 16px;
}

.input {
    color: @input_color;
    border-radius: 12px;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.result-box {
    margin: 0px 6px 0px 6px;
}

.item-text {
    color: alpha (@item_text, 0.5);
} 
.item-name {
    color: @item_name;
}

.selected.item-box {
    background-color: alpha (@item_box_selected, 0.08);
    border: none;
    border-radius: 12px;
}
.selected.item-box .item-text {
    color: alpha (@item_text_selected, 0.8);
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-shortcut {
    color: alpha (@item_shortcut_color, 0.5);
    text-shadow: none;
}
.selected.item-box .item-shortcut {
    color: alpha (@item_shortcut_color_sel, 0.8);
    text-shadow: none;
}

.prefs-btn {
    opacity: 1;
}

.prefs-btn:hover {
    background-color: alpha (@prefs_background, 0.08);
}

.no-window-shadow {
    margin: -20px;
}
